[Unit]
Description=goesrecv process

[Service]
ExecStart=/usr/local/bin/goesrecv -v -i 1 -c /etc/goestools/goesrecv.conf
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target
