[Unit]
Description=goesproc

[Service]
WorkingDirectory=/media/joao/dados/goesdata
ExecStart=/usr/local/bin/goesproc -c /etc/goestools/goesproc-goesr.conf -m packet  --subscribe tcp://127.0.0.1:5004
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target
